.wrap{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

.header{
    flex-direction: column;
    }
.header-top{
    display: flex;
    height: 150px;
    width: 100%;
}

#header-top1{
    width: 20%;
    border: 1px solid black;
}
#header-top2{
    width: 60%;
    border: 1px solid black;
}
#header-top3{
    width: 20%;
    border: 1px solid black;
}

.nav{
    margin: 10px 0px;
    border: 1px solid black;
}
#menu{
    display: flex;
    justify-content: space-around;
}

.content{
    display: flex;
    height: 500px;
    width: 100%;

}
#content1{
    border: 1px solid;
    width: 30%;
}
#content2{
    border: 1px solid;
    width: 40%;
}
#content3{
    border: 1px solid;
    width: 30%;
}

.footer{
    display: flex;
    height: 100px;
    flex-direction: column;
    margin-top: 10px;
}
#footer1{
    border: 1px solid;
    height: 70%;
}
#footer2{
    border: 1px solid;
    height: 30%;
}